<div class="chart-header">
  
  <div class="chart-title">
    {{ title }}
  </div>

  <div class="chart-filter">
    <label for="filtre-{{chartId}}">💡 Filtrer par difficulté :</label>
    <select id="filtre-{{chartId}}" [(ngModel)]="filterDiff" (change)="updateChart()">
      <option value="all">Toutes</option>
      <option value="facile">Facile</option>
      <option value="moyen">Moyen</option>
      <option value="difficile">Difficile</option>
    </select>
  </div>

</div>

<div class="chart-wrapper">
  <canvas [id]="chartId"></canvas>
</div>