<p><strong>Gradation du soutien interactif :</strong></p>

<ul class="custom-list">
  <li>
    <app-aides-chips [aides]="['Aide simple']"></app-aides-chips> 
    <span>Numéro d'ordre affiché. Aide la planification séquentielle.</span>
  </li>
  <li>
    <app-aides-chips [aides]="['Aide moyenne']"></app-aides-chips> 
    <span>Étape placée et verrouillée. Soutient la mémoire de travail.</span>
  </li>
  <li>
    <app-aides-chips [aides]="['Aide forte']"></app-aides-chips> 
    <span>50% pré-rempli. Réduit la charge mentale.</span>
  </li>
  <li>
    <app-aides-chips [aides]="['Réponse entière']"></app-aides-chips> 
    <span>Solution affichée. Évite la mise en échec.</span>
  </li>
</ul>