<app-background>
    <div id="app">
      
      <div class="action-container">
        <app-button 
            text="Retour" 
            redirectTo="/"> 
        </app-button>
      </div>
  
      <app-homepage-title title="Comment jouer ?"></app-homepage-title>
  
      <div class="rules-container">
        
        <div class="rules-card">
          <h2>Le but du jeu 👨‍🍳</h2>
          <p>
            Bienvenue dans <strong>MemoCuisto</strong> ! Ce jeu vous accompagne dans une activité du quotidien :
            faire les courses, ranger les achats, puis réaliser une recette simple.
            L’objectif est de stimuler la mémoire, l’organisation et la concentration
            tout en s’amusant, à votre rythme.
          </p>
  
          <hr>
  
          <h2>Comment jouer ? 🧩</h2>

          <h3>Choix de la recette</h3>
          <p>
            Après avoir choisi votre recette pour la partie, retenez bien les ingrédients avant de passer à la suite.
          </p>
  
          <h3>1. La liste de courses 🛒</h3>
          <p>
            Essayez de retrouvez-les ingrédients de votre recette dans le supermarché.
            (PS: cliquez sur le panier en haut à droite si vous avez besoin d'un rappel !)
          </p>
  
          <h3>2. Le rangement 🧺</h3>
          <p>
            Une fois les ingrédients récupérés, rangez-les au bon endroit dans la cuisine.
            Vous pouvez les ranger dans le placard, le frigo ou le congélateur.
          </p>
  
          <h3>3. La recette 🍰</h3>
          <p>
            Replacez les étapes de la recette dans le bon ordre pour la réaliser correctement.
          </p>
  
          <hr>
  
          <h2>Les modes de jeu 🎮</h2>
  
          <h3>Mode Autonomie</h3>
          <p>
            Dans ce mode de jeu, vous jouez seuls les 3 étapes précédentes (<strong>courses</strong>,  <strong>rangement</strong>,  <strong>étapes de la recette</strong>),
            les indices peuvent être activés.
          </p>
  
          <h3>Mode Duo</h3>
          <p>
            Dans ce mode de jeu, une personne choisit ou créer une recette et l'objectif est de faire deviner cette recette à l'autre.
            Vous jouez avec un proche les étapes 1 et 2 mentionnées précédemment (<strong>courses</strong>,  <strong>rangement</strong>),
            ainsi qu'une troisième étape dans laquelle un des joueurs devra <strong>deviner le nom de la recette</strong> en cours.
            Pas d'indices dans ce mode de jeu.
          </p>
  
          <hr>
  
          <h2>Niveaux de difficulté ⚙️</h2>
          <p>
            Il existe  <strong>3</strong> niveaux de difficulté qui font varier le  <strong>nombre d'ingrédients</strong> dans la recette.
          </p>
  
          <hr>
  
          <h2>Aides et encouragements 💬</h2>
          <p>
            Les aides et encouragements peuvent être activités dans les configurations par le soignant.
            Elles comprennent par exemple :
          </p>
          <ul>
            <li>des <strong>indices</strong> modifiable selon le besoin</li>
            <li>des messages  <strong>d'encouragements</strong></li>
            <li>des  <strong>rappels</strong> après une longue période d'inactivité</li>
          </ul>
  
          <p class="encouragement">
            Ici, pas de stress : le plus important est de participer et de progresser à votre rythme !
          </p>
        </div>
  
      </div>
    </div>
  </app-background>