.logo-title {
  font-size: 10rem;
  font-weight: 900;
  font-family: "Caveat Brush", cursive;
  text-align: center;
  line-height: 1;
  margin-top: 100px;
  margin-bottom: 0;

  text-shadow:
    -4px -4px 0 #ffffff,
     4px -4px 0 #ffffff,
    -4px  4px 0 #ffffff,
     4px  4px 0 #ffffff,
     0 8px 16px rgba(0, 0, 0, 0.15);
}

.memo {
  color: #49b7c4;
}

.cuisto {
  color: #f28a4b;
}